.App-background {
  min-height: 100vmax;
  flex-direction: column;
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#App-header {
  background-color: #282c34;
  min-height: 9vh;
  display: inline-flex;
  flex-direction: row;
  min-width: 100vmax;
}

#App-logo {
  align-self: flex-start;
  animation: App-logo-anim infinite 10s linear;
  height: inherit;
  justify-content: left;
  font-size: calc(14px + 2vmin);
  margin: 14px;
  color: #909090;
}

.App-navbar {
  background-attachment: local;
  flex-direction: row;
  display: inline-flex;
  min-height: inherit;
  min-width: 100vmax;
  color: grey;
}

.App-navbar-left {
  justify-content: space-between;
  flex-direction: row;
  height: inherit;
  background-attachment: local;
  display: flex;
  margin: 8px;
  font-size: calc(4px + 2vmin);
  color: grey;
}

.App-navbar-right {
  justify-content: space-between;
  flex-direction: row-reverse;
  height: inherit;
  background-attachment: local;
  display: flex;
  margin: 8px;
  font-size: calc(4px + 2vmin);
  color: grey;
}

.App-navbar-item {
  flex-direction: column;
  justify-content: center;
  height: inherit;
  margin: 8px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-anim {
  from {
    transform: translate(0deg)
  }
  to {
    transform: translate(180deg);
  }
}
