.App {
  display: grid;
}

.App .background {
  min-height: 100vmax;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* #Navbar {
  background-color: #282c34;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  min-width: 100vmax;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(4px + 2vmin);
} */

#Navbar {
  background-color: #282c34;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  min-width: 100vmax;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(4px + 2vmin);
}

#Navbar .logo {
  order: 0;
  animation: Nav-logo-anim infinite 3s linear;
  font-size: calc(14px + 2vmin);
  margin: 14px;
  display: flex;
  flex-flow: row nowrap;
  color: rgb(42, 127, 184);
}

@keyframes Nav-logo-anim {
  from {
    transform: rotateY(-90deg)
  }
  to {
    transform: rotateY(90deg);
  }
}

#Navbar .login {
  order: 10;
  justify-self: right;
  background-color: darkblue;
}

#Navbar .logout {
  order: 10;
  justify-self: right;
  background-color: darkred;
}

#Navbar .global {
  order: 1;
  flex: 1 1 auto;
  max-height: inherit;
  flex-direction: row;
}

#Navbar .registered {
  order: 2;
  flex: 1 1 auto;
  max-height: inherit;
  flex-direction: row-reverse;
}

#Navbar .global .link {
  color: blanchedalmond;
  padding: 10px;
  align-items: center;
  border-left: 2px solid #61dafb;
}

#Navbar .registered .link {
  color: darkgoldenrod;
  padding: 10px;
  flex-flow: row-reverse nowrap;
  align-items: center;
  border-left: 2px solid #61dafb;
}

.App-link {
  color: #61dafb;
}