#App {
  position: relative;

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  grid-template-rows: 8vh minmax(92vh, min-content);
  grid-template-columns: 100vw;
}

#App .content {
  max-height: 100%;

  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#App .navbar {
  min-width: 100vmin;
  grid-column: 1;
  grid-row: 1;
  background-color: #282c34;
  background-attachment: fixed;

  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
  "logo global registered login"
  ;

  align-items: center;
  justify-content: space-between;
  font-size: calc(4px + 2vmin);
}

#App .navbar .logo {
  grid-area: logo;
  margin: 5%;
  animation: Nav-logo-anim infinite 3s linear;
  font-size: calc(14px + 2vmin);
  color: rgb(42, 127, 184);
}

@keyframes Nav-logo-anim {
  from {
    transform: rotateY(-90deg)
  } to {
    transform: rotateY(90deg);
  }
}

#App .navbar .login {
  grid-area: login;
  margin: 5%;
  align-items: center;
  background-color: lightblue;
}

#App .navbar .global-user {
  grid-area: global;
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
}

#App .navbar .registered-user {
  grid-area: registered;
  display: flex;
  flex-flow: row-reverse wrap;
  margin-right: 10%;
}

#App .navbar .global-user .link {
  color: blanchedalmond;
  padding: 5px;
  border-left: 2px solid #61dafb;
}

#App .navbar .registered-user .link {
  color: darkgoldenrod;
  padding: 5px;
  border-left: 2px solid #61dafb;
}

.App-link {
  color: #61dafb;
}