#user-signup-page   {
    max-width: 100vw;
    min-height: 100vh;

    grid-column: 1;
    grid-row: 1;

    display: grid;
    margin: 2%;
    gap: 5px;
    grid-template-rows: min-content min-content auto;
    grid-template-columns: 3fr 3fr 3fr;
}

    #user-signup-page .user-signup-form   {
        grid-column: 2;
        grid-row: 2;

        background-color: rgba(20,20,36,0.5);
        border: 3px solid black;
        border-radius: 12px;

        display: grid;
        grid-template: 6/8;
        padding: 3%;
    }